<ion-content style="--background: linear-gradient(#2a3132, #000);">
    <ion-slides pager="true">
        <ion-slide style="width: 288px; padding: 10px;">
            <img margin style="width: 75%" src="../../../assets/images/logo_zyon.png">
            <h1 style="color: #f2f2f2;">Bem Vindo ao Zyon ;)</h1>
            <p style="color: #f2f2f2;">Único App de Gestão Ágil do mercado 100% focado em seu resultado.</p>
        </ion-slide>
    
        <ion-slide style="width: 288px; padding: 10px;">
            <img style="width: 68px; height: 68px;" src="../../../assets/images/list_visited.png">
            <h1 style="color: #f2f2f2;">1º Sincronize suas maquininhas</h1>
            <p style="color: #f2f2f2;">Integradora com várias operadoras do mercado.</p>
        </ion-slide>
    
        <ion-slide style="width: 288px; padding: 10px;">
            <img style="width: 68px; height: 68px;" src="../../../assets/images/analytics_visited.png">
            <h1 style="color: #f2f2f2;">2º Acompanhe suas vendas</h1>
            <p style="color: #f2f2f2;">Acompanhe em tempo real todas as suas vendas, seja lá onde tiver sido feita!</p>
          </ion-slide>

          <ion-slide style="width: 288px; padding: 10px;">
            <img style="width: 68px; height: 68px;" src="../../../assets/images/brain_visited.png">
            <h1 style="color: #f2f2f2;">3º Aprenda com matérias verificadas</h1>
            <p style="color: #f2f2f2;">Para melhorar suas vendas e a gestão de seu negócio, acompanhe matérias verificadas em sua conta.</p>
            <ion-button style="--background: #f2f2f2; color: #2a3132; border: none;" (click)="finish()" slot="end">Começar</ion-button>
          </ion-slide>
    </ion-slides>
</ion-content>
