<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-slides pager="true">
        <ion-slide style="width: 288px;">
            <ion-img src="../assets/slide-1.png"></ion-img>
            <h1>Bem Vindo ao Gaia</h1>
            <p>Sua Plataforma de produtos naturais na internet</p>
        </ion-slide>
    
        <ion-slide style="width: 288px;">
            <ion-img src="../assets/slide-1.png"></ion-img>
            <h1>Sua saude e importante</h1>
            <p>Uma série de produtos naturais você encontra aqui</p>
        </ion-slide>
    
        <ion-slide style="width: 288px;">
            <ion-img src="../assets/slide-1.png"></ion-img>
            <h1>Informação na sua mão</h1>
            <p>Temos tudo para facilitar sua pesquisa</p>
    
            <ion-button fill="clear" (click)="finish()" class="button button-clear ion-activatable ion-focusable hydrated">Continue <ion-icon slot="end" name="arrow-forward" role="img" class="hydrated" aria-label="arrow forward"></ion-icon></ion-button>        </ion-slide>
    </ion-slides>
</ion-content>
