<ion-content padding style="--background: linear-gradient(#2a3132, #000);">
   
      <div margin padding-horizontal text-center>
          <img margin style="width: 75%" src="../../../assets/images/logo_zyon.png">
      </div>

  <form [formGroup]="onLoginForm" class="list-form" padding style="margin-top: -10px;">
          <ion-item lines="none" style="--background: transparent; color: #f2f2f2; border: 1px solid #2a3132; padding: 5px; border-radius: 4px; margin-bottom: 15px;">
        
            <img style="width: 24px; height: 24px; margin-right: 15px;" src="../../../assets/images/email.png">
          
            <ion-input style="--color: #f2f2f2; opacity: 0.6;" placeholder="E-mail" type="email" formControlName="email"></ion-input>
          </ion-item>
          <!-- <p ion-text style="color: #763626" class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
            <ion-text style="color:#763626; padding-left: 16px">
              Campo necessário
            </ion-text>
          </p> -->
    
          <ion-item lines="none" style="--background: transparent; color: #f2f2f2; border: 1px solid #2a3132; padding: 5px; border-radius: 4px;">
            
              <img style="width: 24px; height: 24px; margin-right: 15px;" src="../../../assets/images/lock.png">
            
            <ion-input style="--color: #f2f2f2; opacity: 0.6;" placeholder="Senha" type="password" formControlName="password"></ion-input>
          </ion-item>
          <!-- <p ion-text style="color: #763626" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
            <ion-text style="color:#763626; padding-left: 16px">
              Campo necessário
            </ion-text>
            </p> -->
        </form>
    <ion-grid>
      <div padding>
        <div margin>
          <ion-button style="--color: #f2f2f2; --border-color: #f2f2f2;" fill="outline" expand="block" (click)="login()" [disabled]="!onLoginForm.valid" tappable>Entrar</ion-button>
        </div>
        <div margin>
        <ion-button style="--color: #ba5536; opacity: 0.6;" size="small" fill="clear" expand="block" routerLink="/register">Não tem uma conta?</ion-button>
        </div>
      </div>
      <ion-grid class="btn-group">
          <ion-row>
            <ion-col size="4">
              <ion-button style="--color: #f2f2f2; opacity: 0.6;" fill="clear" expand="full">
                <ion-icon  slot="icon-only" name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button style="--color: #f2f2f2; opacity: 0.6;" fill="clear" expand="full">
                <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button style="--color: #f2f2f2; opacity: 0.6;" fill="clear" expand="full">
                <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
    </ion-grid>
</ion-content>