<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>{{artigo.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <img src="../assets/shapes.svg"> 
    <ion-card-header>
          <ion-card-title>
                        {{artigo.subtitle}}
          </ion-card-title>             
    </ion-card-header>
    <ion-card-content>
        <ion-text>
            {{artigo.text}} 
         </ion-text>
    </ion-card-content>
 </ion-content>

