
<ion-tabs>
    <ion-tab-bar slot="bottom">
        
    
        <ion-tab-button tab="extrato">
            <ion-icon name="filing"></ion-icon>
          <ion-label>Extrato</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="home">
          <ion-icon name="trending-up"></ion-icon>
          <ion-label>Meu Negócio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="gestao">
            <ion-icon name="book"></ion-icon>
                                  <ion-label>Gestão</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
</ion-tabs>
