<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-slides>
        <ion-slide>
          <div>
            <ion-card style="border-radius: 10px;">
              <img src="https://www.viewbug.com/media/images/contests/contest8377_banner.png" style="background-size: cover" />
              <ion-card-header>
                <ion-card-title>
                  Paisagem 1
                </ion-card-title>
                <ion-card-content>
                    Lugar lindo de algum lugar do nosso planeta.
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
            <div>
              <ion-card style="border-radius: 10px;">
                  <img src="http://www.glittergraphics.org/img/129/1296685/amazing-nature-wallpaper.jpg" style="background-size: cover" />
                <ion-card-header>
                  <ion-card-title>
                    Paisagem 2
                  </ion-card-title>
                  <ion-card-content>
                      Lugar lindo de algum lugar do nosso planeta.
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>

          <ion-slide>
              <div>
                <ion-card style="border-radius: 10px;">
                    <img src="https://cdn.wallpapersafari.com/81/57/rCiajd.jpg" style="background-size: cover" />
                  <ion-card-header>
                    <ion-card-title>
                      Paisagem 3
                    </ion-card-title>
                    <ion-card-content>
                        Lugar lindo de algum lugar do nosso planeta.
                    </ion-card-content>
                  </ion-card-header>
                </ion-card>
              </div>
            </ion-slide>
        </ion-slides>
</ion-content>
